# Sample configuration file. Rename to ".env" and customise with your settings

# The token for your discord bot
DISCORD_TOKEN="DISCORD_BOT_TOKEN"

# The id for the channel you want notifications and chat
# If this is a channel name it will use the first channel it finds
# matching that name, or it can be the discord channel ID which
# you can get by right clicking on the channel -> copy ID
# or from the channel link, e.g: https://discord.com/channels/<server_id>/<channel_id>
CHANNEL="zomboid"

# Set to "True" if you want Admin logs to be sent to the channel below.
# These logs give info about what players are doing and could be useful for server admins
# Defaults to False unless this is set to True
ADMIN_LOGS=""

# The id for the channel that you want admin/other logs to be sent to
ADMIN_CHANNEL=""

# The notifications for the above channel
JOINS=True
DISCONNECTS=True
DEATHS=True
PERKS=True
CREATECHAR=True

# RCON Host
RCON_HOST="localhost"

# The password for rcon on the server (used to relay chat from discord to game)
RCON_PASSWORD="password"

# The port to use for the rcon connection, default is 27015
RCON_PORT=27015

# Path to Project Zomboid Logs folder
# Leave empty to try default paths
LOGS_PATH=""

# Path to the project zomboid maps folder
# leave empty to try the default paths
MAPS_PATH=""

# Path to the project zomboid saves folder
# leave empty to try the default paths
# i.e. ~/Zomboid/Saves/Multiplayer/server_name
SAVES_PATH=""